<!DOCTYPE html>
<html lang="en">
  <!-- Include Head -->
  <%- include('partials/head', { title: 'Success' }) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
  <!-- /Header -->
  <main class="confirm-container">
    <div>
      <p>Payment type: <%= payment_type %> </p>
      <p>External reference: <%= external_reference %> </p>
      <p>Collection Id: <%= collection_id %> </p>
    </div>
  </main>
  <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>
</html>